<div class="container-fluid" id="footerStyle">
    <br>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-6 footerClass">
            <h5>Collections</h5><br>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Bed Sheets</a></li>
                <li class="list-group-item"><a href="#">Cushions</a></li>
                <li class="list-group-item"><a href="#">Rugs</a></li>
                <li class="list-group-item"><a href="#">Curtains</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-6 footerClass">
            <h5>Quick Links</h5><br>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Sign in</a></li>
                <li class="list-group-item"><a href="#">Create an Account</a></li>
                <li class="list-group-item"><a href="#">About us</a></li>
                <li class="list-group-item"><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-6 footerClass">
            <h5>Customer Service</h5><br>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Contact Us</a></li>
                <li class="list-group-item"><a href="#">Cancellation Policy</a></li>
                <li class="list-group-item"><a href="#">FAQS</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-6 footerClass">
            <h5>Stay Connected</h5><br>
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="../../assets/images/social/facebookColor.png" style="width:30px; height:30px;">
                    <img src="../../assets/images/social/twitterColor.png" style="width:30px; height:30px; margin-left:5px;">
                    <img src="../../assets/images/social/instagramColor.png" style="width:30px; height:30px; margin-left:5px;">
                </li>
                <li>Our app available</li>
            </ul>
        </div>

    </div>
</div>
