<div class="container">
    <h2 style="text-align: center;">Registration</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="email" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input type="text" formControlName="email" class="form-control" id="emailAddress" placeholder="Email Address" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mobile Number</label>
            <input type="text" formControlName="mobile" class="form-control" id="exampleInput" placeholder="Mobile Number" required>
        </div>

        <div class="form-group">
            <label for="Password1">Password</label>
            <input type="password" formControlName="password" class="form-control" id="Password1" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="Password2">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" id="Password2" placeholder="Confirm Password" required>
        </div>
        <label>Gender: </label>
        <div class="form-check">
            <input class="form-check-input" formControlName="gender" type="radio" id="exampleRadios1" value="Male" checked>
            <label class="form-check-label" for="exampleRadios1">
            Male
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="gender" type="radio" id="exampleRadios2" value="Female">
            <label class="form-check-label" for="exampleRadios2">
            Female
          </label>
        </div>
        <br>
        <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary" style="text-align: center;">Submit</button>
    </form>
</div>