<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <app-filter-product></app-filter-product>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <br>
            <flash-messages></flash-messages>
            <div class="row">
                <div *ngFor="let towel of productObservable" class=" col-sm-12 col-md-6 col-lg-4 col-xl-4 " style="margin-top: 10px; ">
                    <img class="card-img-top cardImage" src="http://localhost:3000/images/{{ towel.image }}" />
                    <a [routerLink]="['/products',towel._id]"><b>{{ towel.title }}<span style="float: right; ">${{towel.price}}</span></b></a>
                    <!--<button class="btn btn-md " name="productId " (click)="goToDetail(towel) "
                      style="background-color: #a30f2d; color:white; text-align: center ">Add to Cart</button> -->
                    <button class="btn btn-md " name="productId " (click)="addToCart(towel)" style="background-color: #a30f2d; color:white; text-align: center ">Add to Cart</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
