<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="background-color:rgb(255, 26, 102);">
                <li class="nav-item active">
                    <a style="color:white" class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" href="#">Offers</a>
                </li>
                <li class="nav-item dropdown">
                    <a style="color:white" class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" href="#">Shop</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Bed Sheets</a>
                        <a class="dropdown-item" href="#">Pillow Covers</a>
                        <a class="dropdown-item" href="#">Towels</a>
                        <a class="dropdown-item" href="#">Duvets</a>
                        <a style="color:black;" class="dropdown-toggle dropright flooring" data-toggle="dropdown" id="subMenu" href="#">Flooring</a>
                        <div class="dropdown-menu" id="subDropdown subFlooring" aria-labelledby="subMenu">
                            <a class="dropdown-item" href="#">Carpets</a>
                            <a class="dropdown-item" href="#">Door Mats</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" routerLink="contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" href="#">About Us</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button class="btn"><i class="fas fa-shopping-cart"></i> {{ this.count }}</button>
                <!-- <input type="text" class="form-control input-group-lg" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Button</button>
                </div> -->
                <button class="btn btn-sm btn-danger my-2 my-sm-0" routerLink="auth/signin">Sign In/Register</button>
            </div>
        </div>
    </nav>
</div>

<div>
    <router-outlet></router-outlet>
</div><br><br><br>
<app-footer></app-footer>