<div class="centerElement">
    <h2>Contact Us</h2>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name*">
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Id*">
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" id="contact" aria-describedby="emailHelp" placeholder="Contact Number*">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="enquiry" rows="3" placeholder="Need our help with something? Drop us a message."></textarea>
                </div>
                <button type="submit" class="btn btn-primary contactBtn">Submit</button>
            </form>
        </div>
        <br><br><br><br>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h6><i class="fas fa-map-marker-alt"></i> <b class="appColor">  Address</b></h6>
            <div class="address">
                <p>Welspun Global Brands Ltd., Welspun House,</p>
                <p>6th Floor, Kamala City, Senapati Bapat Marg,</p>
                <p>Lower Parel, (W), Mumbai 400 013, India.</p>
            </div>
            <h6><i class="fas fa-phone-alt"></i> <b class="appColor"> Contact No.</b></h6>
            <div class="address">
                <p>9664689466</p>
            </div>
            <h6><i class="fas fa-at"></i> <b class="appColor">  Email Id</b></h6>
            <div class="address">
                <p>wasimshaikh@gmail.com</p>
            </div>
        </div>
    </div>
</div>