<h3>Shop By</h3>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-info blackColor" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Product Category <span class="floatRight">+</span>
          </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Bath Towel</li>
                    <li class="list-group-item">Hand Towel</li>
                    <li class="list-group-item">Towel Set</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-info blackColor collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Colors <span class="floatRight">+</span>
          </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Bath Towel</li>
                    <li class="list-group-item">Hand Towel</li>
                    <li class="list-group-item">Towel Set</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-info blackColor collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Price <span class="floatRight">+</span>
          </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Bath Towel</li>
                    <li class="list-group-item">Hand Towel</li>
                    <li class="list-group-item">Towel Set</li>
                </ul>
            </div>
        </div>
    </div>
</div>

Product Category Colors Price